= render "partials/navigation"
.service-header.w3-display-container
	.service-image
		.service-image-wrapper
			%img{:src=>"assets/close_protection.jpg", :alt=>"close protection"}
			.image-filter
	.w3-display-middle.w3-large.header-text
		%h1.w3-animate-zoom.w3-allerta Close Protection
%ul#brocum.w3-animate-zoom.hidden-xs
	%li
		%a{ :href=>"/", :style=>"opacity: 0.4;"} Home >
	%li
		%a{ :href=>"/services", :style=>"opacity: 0.6;"} Services >
	%li{ :href=>"#", :style=>"opacity: 1;"} Close Protection

.container.w3-row.content-area
	.w3-col.s12.m3.l3.service-side-left.hidden-xs
		%h4 Services
		= render "partials/service_nav"
		%br
		%hr
		= render "partials/contact_widget"
	.w3-col.s12.m7.l7.service-middle
		%h4= @title
		%p Soular Security prides itself on the array of close protection services it has offered from an array of VIP figures from sporting, musical, performing arts and array of other well known public figures.
		%p Soular Security offers fully licensed close protection operatives fully trained in protecting a principal VIP in a matter of high level threatening situations in the UK.
		%h2 Benefit of using our services
		.w3-ul
			%li Dynamic, assertive individuals with observance that is second to none; providing the most efficient and specific needs for any individual requirements 
			%li Highly trained and experienced operatives who fully understand the the field of CP work in a covert or overt situation
			%li A consistently reliable service that to this day has our clients continually asking for our protection on a continual basis
			%li An array of operatives that gives the principal the choice to portray a certain image i.e covert/overt 
			%li Highly responsive and assertive communication skills to reassure our Principal and VIP’s if necessary 
			%li The most affordable rates

	.w3-col.s12.m2.l2.service-side-right
		%h4 News
		= render "partials/news_list"

= render "partials/footer"