= render "partials/navigation"
.service-header.w3-display-container
    .service-image
        .service-image-wrapper
            %img{:src=>"assets/soular_guard2000x1000.jpg", :alt=>"Security Guard"}
            .image-filter
    .w3-display-middle.w3-large.header-text
        %h1.w3-animate-zoom.w3-allerta Security Guard
%ul#brocum.w3-animate-zoom.hidden-xs
    %li
        %a{ :href=>"/", :style=>"opacity: 0.4;"} Home >
    %li
        %a{ :href=>"/services", :style=>"opacity: 0.6;"} Services >
    %li{ :href=>"#", :style=>"opacity: 1;"} Security Guards

.container.w3-row.content-area
    .w3-col.s12.m3.l3.service-side-left.hidden-xs
        %h4 Services
        = render "partials/service_nav"
        %br
        %hr
        = render "partials/contact_widget"

    .w3-col.s12.m7.l7.service-middle
        %h4= @title
        %p We provide security guards who are the first point of reference at your venue and property; a deterrent to thieves, vandalism, damage, and unwanted individuals who could be a hazard or problem to the venue/property.
        %p All of our security guards are SIA licensed and vetted for a minimum of 5 years; so you can rest assured that with Soular Security you are getting the highest standard of professionalism and work rate at the most cost effective price.
        %h2 Benefits of using our Services.
        .w3-ul.service-point
            %li We start by doing a full reconnaissance of your venue to understand and help improve your security risks
            %li Create an instant rapport with your management and staff, so they feel safe and confident to approach us regarding any issue security or otherwise
            %li Create a presence for your customers to feel safe and secure within the premises
            %li Approach and deter potential trespassers, vandalism and nuisances for the venue 
            %li Trained to deliver reception and concierge duties for corporate, apartment or office blocks
            %li Providing efficient CCTV, alarm and surveillance system operating systems
        %p We can cover Security areas including Industrial, School, Office, factory, Warehouse, Business Parks, Retail, Leisure Parks, Shopping Centres, Clubs, Bars, Business’ that are public or privately owned; Soular Security can cover almost any venue, area or asset that needs manned security on any level.
    .w3-col.s12.m2.l2.service-side-right
        %h4 News
        = render "partials/news_list"

= render "partials/footer"