= render "partials/navigation"
.container
  %h1 Listing visitors

  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Telephone
        %th Content
        %th
        %th
        %th

    %tbody
      - @visitors.each do |visitor|
        %tr
          %td= visitor.name
          %td= visitor.email
          %td= visitor.telephone
          %td= visitor.content
          %td= link_to 'Show', visitor
          %td= link_to 'Edit', edit_visitor_path(visitor)
          %td= link_to 'Destroy', visitor, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Visitor', new_visitor_path
