%section.container
	.home-form
		%h1 Get in touch

		.w3-row
			.w3-col.s12.m4.l4.quote-text
				%h2 
				%p 257-259 Pentonville Rd
				%p Kings Cross
				%p London
				%p N1 9NL
				%br
				%p Email: admin@soular.com
				%p Telephone: 0203467592
				%p Fax: 020 8150 5611
				
			.w3-col.s12.m8.l8.quote-form
				%form
					= simple_form_for @visitor do |f|
						= f.error_notification

						= f.input :name
						= f.input :email
						= f.input :telephone
						= f.input :content, :label => "Message"

						= f.submit "Submit", class: "btn btn-success"
