%div.latest-news.row
    - @posts.each do |post|
        .w3-ul
            %li
                .news-item.w3-card-1
                    / = image_tag post.image.url(:thumb)
                    / %img.img-responsive.w3-hover-opacity{:src =>"/assets/2.jpg"}
                    = link_to post do
                        / .btn.btn-primary{:href=>"#"}
                        %h5{:style=>"font-size: 16px; text-align: center;"}= post.title
                    %p{:style=>"color: red; font-size: 12px; text-align: center;"}= post.created_at.to_formatted_s(:short)
                    %p{:style=>"font-size: 10px; text-align: center;"}= post.body

                    = link_to post do
                        %p{:style=>"color: red; font-size: 12px; text-align: center;"} Read more
                        
        %hr