.quote-wrapper
	.w3-animate-right
		.small-flash-notice
			%p.notice= notice
			%p.alert= alert

		%h2 Get Free Quote
		%p Fill the form below and get a free quote OR
		%p Call 020 3119 1019
		%br
		= simple_form_for @quote  do |f|
			.w3-col.s6.cname
				= f.input :f_name, placeholder: 'First Name', :label => "First Name"
			.w3-col.s6.cname
				= f.input :l_name, placeholder: 'Last Name', :label => "Last Name"
			= f.input :company, placeholder: 'Company Name'
			= f.input :email, placeholder: 'Enter email'
			= f.input :telephone, placeholder: 'Enter Telephone'                       
			= f.input :buz_size, as: :radio_buttons, :label => "Please select your business size",                                      
			collection: ['Small Business', 'Medium Business', 'Large Business'], wrapper: :vertical_radio_and_checkboxes 
			= f.submit "Submit Request", :class => "btn btn-success q-btn"




						