= render "partials/main_nav"
= render "partials/mobile_nav"
= render "home_slider"
.quote-container
	= render "quote"
	= render "home_menu"
.scroll-cavet
	%a{:href=>"#"}
		%i.glyphicon.glyphicon-menu-down
%section.container-content
	%h1.w3-tag-line.w3-roboto.w3-animate-zoom Who we are
	#why-soular.w3-row.container.w3-animate-bottom
		#power1.w3-col.s4
			%span 
				%i.glyphicon.glyphicon-refresh{"aria-hidden" => "true"}
			%h4.w3-allerta Strong Protection
			%p We are strong to the core
		#power2.w3-col.s4
			%span
				%i.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
			%h4.w3-allerta Excellent Service
			%p Our service is no. one
		#power3.w3-col.s4
			%span
				%i.glyphicon.glyphicon-user{"aria-hidden" => "true"}
			%h4.w3-allerta Computent
			%p We take all our clients serious
	.tagLine.container
		%p.tag-text.w3-center
			At Soular Security we understand that pressure is a privilege and we thrive on the highest expectation from our clients and their customers; giving unbeatable rates whilst delivering the highest quality of service.
			Our offices are based in central London and with over 2 decades of experience, Soular has grown and adapted to the rapid rise and demand of the security industry, acquiring and maintaining lucrative contracts because of our excellent reputation and rapport we have built with our clients over the years.
		%a.btn.btn-primary{:href=>"/about"} more
%section.callToAction
	#cTa-text.container.w3-center
		%h1.w3-allerta Soular Limited is a successful and growing security company
		%h3{:style => "color: #fff;"} Serving Public and Private Sectors
		%p{:style => "color: #fff;"} We always have vacancies for enthusiastic, talented and loyal people to fill roles within our team.
		%a{:href=>"/career"}
			%button.btn.btn-success{:type => "input"} Apply for job
= render "partials/what_we_do"
.w3-row.sia-approve
	.container
		.w3-col.s4.sia-img
			%img{:src=>"assets/sia-contractor.png", :alt=>"SIA"}
		.w3-col.s8.sia-text
			%p Soular Limited holds SIA approved contractor status for the provision of Security Guarding services. We provide quality security services to a wide range of organisations, both public and private companies throughout the UK.	

%section#service-collection.container
	.w3-row	
		.w3-col.s6.m3.l3.home-service-card-col
			.home-service-card
				.img-card
					%a{:href=>"#"}
						%img.w3-hover-opacity{:alt => "Security", :src => "/assets/our-protect.jpg", :style => "width: 100%"}
					%h5
						%a{:href => "/services"} Security Guards
					
					%p Understanding security treat and needs of our clients.
					
				.linkButtons.w3-center
					%a{:href => "#"}  more
		.w3-col.s6.m3.l3.home-service-card-col
			.home-service-card
				.img-card
					%a{:href=>"#"}
						%img.w3-hover-opacity{:alt => "Construction-sector", :src => "/assets/Construction-sector.jpg", :style => "width: 100%"}
					%h5
						%a{:href => "/shop"} Construction
					
					%p Ensuring your grounds are well protected and safer for the workforce
					
				.linkButtons.w3-center
					%a{:href => "#"}  more

		.w3-col.s12.m3.l3.home-service-card-col
			.home-service-card
				.img-card
					%a{:href=>"#"}
						%img.w3-hover-opacity{:alt => "Security", :src => "/assets/public-sector.jpg", :style => "width: 100%"}
					%h5
						%a{:href => "#"} Public Sector Security
					
					%p we offer an array of security service ranging from public and private in… 
					
				.linkButtons.w3-center
					%a{:href => "#"}  more
		.w3-col.s12.m3.l3.home-service-card-col
			.home-service-card
				.img-card
					%a{:href=>"#"}
						%img.w3-hover-opacity{:alt => "Corporate-Sector", :src => "/assets/Corporate-Sector.jpg", :style => "width: 100%"}
					%h5
						%a{:href => "#"} Corporate Security
					
					%p Simply the best and highly professional staff for your business.
					
				.linkButtons.w3-center
					%a{:href => "#"} more

%section.news-container
	%h1.w3-tag-line.w3-roboto Shop
	= render "partials/shop"

%section.testimony-container
	#testimony-container
		.testimony-container-cover.container
			%h3 #What people are saying about us
			.testimony.row
				.testimony-wrapper
					.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
						%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/arsenal-manager.jpg"}
						.carousel-captions
							%p
								%q Since we started using Soular security, our customer base have improved
							%h5 ( Ben Willo )
							%h6
								%strong
								Big Chill House
					.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
						%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/arsena-wenger.jpg"}
						.carousel-captions
							%p
								%q Since we started using Soular security, our customer base have improved
							%h5 ( Asena Wenger )
							%h6
								%strong
								Arsenal Club
					.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
						%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/manager2.jpg"}
						.carousel-captions
							%p
								%q Since we started using Soular security, our customer base have improved
							%h5 ( Lilian Bush )
							%h6
								%strong
								Cargo Night Club




// %section.container
// 	.row
// 		#mission.col.s12.m6.l6
// 			%h2 This is another div
// 		.col.s12.m6.l6
// 			%h2 Followed by another one

= render "partials/footer"