= simple_form_for @post, html: { multipart: true, class: 'form-horizontal' } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %form
    .form-group
      %label{:for => "title"} Post Title
      = f.input :title, :label => false, placeholder: 'title'
    .form-group
      %label{:for => "image"} Image
      = f.file_field :image
    .form-group
      %label{:for => "subtitle"} Excerpt
      = f.input :subtitle, :label => false
    .form-group
      %label{:for => "body"} Content
      = f.input :body, :label => false, :row => 10
    .actions
      = f.button :submit, 'Save', class: 'btn btn-success'